################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
bin/
packages/
obj/
/Firebase/C#/FireHive/Firebase-C#-SDK
.vs/
